.offset-top
.wrapper
  .row
    .span6
      .offer
        Оригинальные духи Versace
        со скидкой 30%
        %br
        до 15 августа

      .desc
        Оставьте заявку, чтобы получить каталог с 30% скидкой на линию ароматов:
        .list
          %br
          Versace Bright Crystal
          %br
          Versace Crystal Noir
          %br
          Versace Eau Fraiche
          %br
          Versace Eros
          %br
          Versace Yellow Diamond
          %br
          Versace Pour Homme
          %br
          Versace Versence
          %br
          Versace Women
    .span6
      #image

.offset
.wrapper
  .row
    .span6
      .button#order-button
        Заказать каталог со скидкой 30%
    .span6
      .official
        Мы работаем от официального дилера в Москве и продаем только оригинальную продукцию.

      .official
        Мы свяжемся с вами в течении одного дня с момента отправки заявки.



.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами до среды.


    %button#hide-thank-you
      Я буду ждать!

.modal-dialog
  .header
    Оставьте ваши контакты и получите каталог со скидкой 30%
  .body
    .form
      %input{type: :text, name: :username1, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone1, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Получить каталог

    .after
      Ваши контактные данные в безопасности и не будут переданы третьим лицам.